<!DOCTYPE html>
<html>
<head>
    <title>Play Quiz</title>
</head>
<body>
    <h1>Play Quiz</h1>
    <form action="/submit_quiz/{{ quiz_id }}" method="post">
        {% for q in questions %}
            <div>
                <p><strong>{{ loop.index }}. {{ q[0] }}</strong></p>
                {% for i in range(1, 5) %}
                    <label><input type="radio" name="q{{ q[5] }}" value="{{ i }}"> {{ q[i] }}</label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit Quiz</button>
    </form>
</body>
</html>
